schema/VersorisMss.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xml:lang="en" n="testms" xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:sch="http://purl.oclc.org/dsdl/schematron">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>VersorisMss</title>
        <author>Elena Spadini</author>
      </titleStmt>
      <publicationStmt>
        <publisher>TEI Consortium</publisher>
        <availability status="free">
          <licence target="http://creativecommons.org/licenses/by-sa/3.0/"> Distributed under a
            Creative Commons Attribution-ShareAlike 3.0 Unported License</licence>
          <licence target="http://www.opensource.org/licenses/BSD-2-Clause">
            <p>Copyright 2013 TEI Consortium.</p>
            <p>All rights reserved.</p>
            <p>Redistribution and use in source and binary forms, with or without modification, are
              permitted provided that the following conditions are met:</p>
            <list>
              <item>Redistributions of source code must retain the above copyright notice, this list
                of conditions and the following disclaimer.</item>
              <item>Redistributions in binary form must reproduce the above copyright notice, this
                list of conditions and the following disclaimer in the documentation and/or other
                materials provided with the distribution.</item>
            </list>
            <p>This software is provided by the copyright holders and contributors "as is" and any
              express or implied warranties, including, but not limited to, the implied warranties
              of merchantability and fitness for a particular purpose are disclaimed. In no event
              shall the copyright holder or contributors be liable for any direct, indirect,
              incidental, special, exemplary, or consequential damages (including, but not limited
              to, procurement of substitute goods or services; loss of use, data, or profits; or
              business interruption) however caused and on any theory of liability, whether in
              contract, strict liability, or tort (including negligence or otherwise) arising in any
              way out of the use of this software, even if advised of the possibility of such
              damage.</p>
          </licence>
          <p>TEI material can be licensed differently depending on the use you intend to make of it.
            Hence it is made available under both the CC+BY and BSD-2 licences. The CC+BY licence is
            generally appropriate for usages which treat TEI content as data or documentation. The
            BSD-2 licence is generally appropriate for usage of TEI content in a software
            environment. For further information or clarification, please contact the <ref
              target="mailto:info@tei-c.org">TEI Consortium</ref>.</p>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>Written using the ms description customisation as a base.</p>
      </sourceDesc>
    </fileDesc>
    <encodingDesc>
      <appInfo>
        <application ident="RomaJS" version="1.1.0" when="2024-06-24T09:04:19.794Z">
          <desc>File edited with <ref target="https://github.com/TEIC/romajs">RomaJS</ref></desc>
        </application>
      </appInfo>
    </encodingDesc>
    <revisionDesc>
      <change>Changed manually after the creation with Roma.</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <front>
      <div>
        <p>For each manuscript: identifier, contents, history. Information regarding, for example,
          watermarks and hands are only registered in the history. </p>
        <p>For each item: locus, title. Optional: author, note, quote, incipit, explicit.</p>
        <p>Notes can be of type: attribution, content, desc, gap, msRelationship, paleo, toc.</p>
      </div>


    </front>
    <body>
      <p>TEI for manuscript description</p>
      <schemaSpec ident="VersorisMss" start="TEI teiCorpus" prefix="tei_" targetLang="en"
        docLang="en">
        <moduleRef key="header"/>
        <moduleRef key="linking"/>
        <moduleRef key="core"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="transcr"/>
        <moduleRef key="figures"/>
        <moduleRef key="msdescription"/>
        
        
        <elementSpec ident="colophon" mode="change">
          <classes>
            <memberOf key="model.msQuoteLike"/>
            <memberOf key="att.global" mode="delete"/>
          </classes>
          <attList>
            <attDef ident="source" mode="add" usage="req">
              <desc>Indicate the folio r/v or the column. The value of the attribute should not contain "f. "</desc>
              <datatype>
                <dataRef key="teidata.text"></dataRef>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="locus" mode="change">
          <desc>defines a location within a manuscript or other object, usually as a sequence of folio numbers (using the attributes @from and @to) or other values (in the content of the element).</desc>
          <classes>
            <memberOf key="model.pPart.msdesc"/>
            <memberOf key="att.global" mode="delete"/>
          </classes>
          <content>
            <macroRef key="macro.xtext"/>
          </content>
          <attList>
            <attDef ident="scheme" mode="delete"/>
          </attList>
        </elementSpec>


        <elementSpec ident="msIdentifier" mode="change">
          <desc>Contains the identifier for a manuscript, including settlement, collection, and idno.</desc>
          <content>
            <sequence>
              <elementRef key="settlement" minOccurs="1" maxOccurs="1"/>
              <elementRef key="repository" minOccurs="1" maxOccurs="1"/>
              <elementRef key="idno" minOccurs="1" maxOccurs="1"/>
              <elementRef key="altIdentifier" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
          </content>
          <exemplum xml:lang="en">
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <msIdentifier>
                <settlement>Oxford</settlement>
                <repository>Bodleian Library</repository>
                <idno>MS. Bodl. 406</idno>
              </msIdentifier>
            </egXML>
          </exemplum>
        </elementSpec>
        
        <elementSpec ident="msItem" mode="change">
          <desc>Questions are encoded with <gi>msItem</gi>, with <att>class</att> value
            <val>question</val>, inside the msItem they belong to. They should be transcribed for
            each ms, so as to preserve the spelling, while also referring to an authority list of
            questions. The value of the <att>xml:id</att> should be self-explanatory with regard to
            the commented work.</desc>
          <classes mode="change">
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.msExcerpt" mode="delete"/>
          </classes>
          <content>
            <sequence>
              <elementRef key="locus" minOccurs="1" maxOccurs="1"/>
              <alternate minOccurs="0" maxOccurs="unbounded">
                <classRef key="model.msItemPart"/>
                <elementRef key="msItem"/>
                <elementRef key="note"/>
              </alternate>
            </sequence>
          </content>
          <constraintSpec ident="class-n-constraint" scheme="schematron">
            <constraint>
              <sch:rule context="tei:msItem">
                <sch:assert test="@n or not(@class)"> When the msItem element has a 'class'
                  attribute, it must also have an 'n' attribute. </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <constraintSpec ident="msItemIdRule" scheme="schematron">
            <constraint>
              <sch:rule context="tei:msItem">
                <sch:assert test="@xml:id">
                  Each msItem must have an xml:id attribute.
                </sch:assert>
                <sch:let name="parentId" value="ancestor::tei:msDesc/@xml:id"/>
                <sch:assert test="starts-with(@xml:id, $parentId)">
                  The xml:id of msItem must start with the xml:id of its parent msDesc. 
                  Current msItem xml:id: "<sch:value-of select="@xml:id"/>". 
                  Parent msDesc xml:id: "<sch:value-of select="$parentId"/>".
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="xml:id" usage="req" mode="add">
              <desc>Provides a unique identifier for the element.</desc>
              <datatype>
                <dataRef key="teidata.ID"/>
              </datatype>
            </attDef>
            <attDef ident="class" usage="opt" mode="change">
              <desc>Only use this attribute to say that this is a question, to differentiate from
                the generic <gi>msItem</gi>.</desc>
              <defaultVal>question</defaultVal>
            </attDef>
            <attDef ident="n" usage="opt" mode="add">
              <desc>Defines the order of the questions in the manuscript.</desc>
              <datatype>
                <dataRef key="teidata.numeric"/>
              </datatype>
            </attDef>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <msItem xml:id="Aarau_AKB_MsWettF42_DC_q1" class="question" n="1">
                <locus from="100ra"/>
                <title ref="questionID">Utrum corpus mobile ad locum sit subiectum scientie libri De
                  celo et mundo</title>
              </msItem>
            </egXML>
          </exemplum>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <msItem xml:id="Aarau_AKB_MsWettF42_QdA">
                <locus from="107" to="134vb"/>
                <title ref="workID">QdA</title>
                <explicit>circa colores, et hoc est percipere plures <gap/><note type="gap">The
                  other leaves have been ripped off.</note></explicit>
                <note type="paleo">Copied by a different hand than <ref type="msItem"
                  target="#Aarau_AKB_MsWettF42_AnonExpositio">previous text</ref>.</note>
                <note type="content">Unfinished, up to q. II <q>Utrum sensus tactus sit unus vel
                  plures</q></note>
              </msItem>
            </egXML>
          </exemplum>
        </elementSpec>


         <!--  does not work -->
        <elementSpec ident="note" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <desc>Differentiate the notes for displaying and searching.</desc>
              <valList type="closed">
                <valItem mode="add" ident="attribution"/>
                <valItem mode="add" ident="content"/>
                <valItem mode="add" ident="desc"/>
                <valItem mode="add" ident="gap"/>
                <valItem mode="add" ident="msRelationship"/>
                <valItem mode="add" ident="paleo"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>

        <elementSpec ident="origDate" mode="change">
          <desc>When there is a single date, no range: it's a single date. When circa/around, +/- 5
            years when watermark; in other cases, it can be less than 5 years.</desc>
          <attList>
            <attDef mode="change" ident="from" usage="req">
              <desc>The attributes <att>from</att> and <att>to</att> are mandatory on the element
                  <gi>origDate</gi>. If the date of origin is a single year, use the same value for
                both attributes.</desc>
            </attDef>
            <attDef mode="change" ident="to" usage="req">
              <desc>The attributes <att>from</att> and <att>to</att> are mandatory on the element
                  <gi>origDate</gi>. If the date of origin is a single year, use the same value for
                both attributes.</desc>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="persName" module="namesdates" mode="change">
          <classes>
            <memberOf key="model.nameLike.agent"/>
            <memberOf key="att.global" mode="delete"/>
            <memberOf key="att.datable" mode="delete"/>
            <memberOf key="att.typed" mode="delete"/>
          </classes>
          <content>
            <macroRef key="macro.phraseSeq"/>
          </content>
          <constraintSpec ident="refAndRoleAttributes" scheme="schematron">
            <constraint>
              <sch:rule context="tei:persName">
                <sch:assert test="@ref">
                  The persName element must have the @ref attribute.
                </sch:assert>
                <sch:assert test="count(@*) = 1 or (count(@*) = 2 and @ref and @role)">
                  The persName element must have the @ref attribute and may optionally have the @role attribute. No other attributes are allowed.
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="ref" usage="req">
              <desc>provides a means of pointing to a standardized reference for the name.</desc>
              <datatype>
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
            <attDef ident="role" usage="opt">
              <desc>specifies a primary role or classification for the person.</desc>
              <datatype>
                <dataRef key="teidata.enumerated"/>
              </datatype>
            </attDef>
            <attDef ident="calendar" mode="delete"/>
          </attList>
        </elementSpec>

        <elementSpec ident="q" mode="change">
          <desc>contains a quotation from a source, generally from a manuscript.</desc>
          <model behaviour="inline">
            <outputRendition scope="before">content: '"'</outputRendition>
            <outputRendition scope="after">content: '"'</outputRendition>
          </model>
        </elementSpec>
        
        
        <elementSpec ident="quote" mode="change">
          <classes>
            <memberOf key="model.quoteLike"/>
            <memberOf key="model.biblPart"/>
            <memberOf key="att.global" mode="delete"/>
          </classes>
          <attList>
            <attDef ident="source" mode="add" usage="req">
              <desc>Indicate the folio r/v or the column.
                The value of the attribute should not contain "f. ".
                It can remain empty if the location in the manuscript is clear in the context.</desc>
              <datatype>
                <dataRef key="teidata.text"></dataRef>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        
        
        

        <elementSpec ident="title" mode="change">
          <constraintSpec ident="titleInMsDesc" scheme="schematron">
            <constraint>
              <sch:rule context="tei:title[ancestor::tei:msDesc]">
                <sch:assert test="@ref"> When title appears within msDesc, it must carry a @ref
                  attribute. </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="ref" mode="change" usage="req"/>
            <!-- una volta finito di codificare, questo andrà tolto perché altrimenti vuole ref anche nel titleStmt -->
          </attList>
        </elementSpec>
        
        
        
       


      </schemaSpec>
    </body>
  </text>
</TEI>
